<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.summer.springboot.mybatis.dao.CmsPrefrenceAreaMapper">
  <resultMap id="BaseResultMap" type="com.zyc.summer.springboot.mybatis.entity.CmsPrefrenceArea">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="pic" jdbcType="VARBINARY" property="pic" />
  </resultMap>
</mapper>