<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.summer.springboot.mybatis.dao.UmsMemberTagMapper">
  <resultMap id="BaseResultMap" type="com.zyc.summer.springboot.mybatis.entity.UmsMemberTag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="finish_order_count" jdbcType="INTEGER" property="finishOrderCount" />
    <result column="finish_order_amount" jdbcType="DECIMAL" property="finishOrderAmount" />
  </resultMap>
</mapper>