<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.summer.springboot.mybatis.dao.UmsMemberLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.zyc.summer.springboot.mybatis.entity.UmsMemberLoginLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="login_type" jdbcType="INTEGER" property="loginType" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
</mapper>