<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.summer.springboot.mybatis.dao.UmsMemberTaskMapper">
  <resultMap id="BaseResultMap" type="com.zyc.summer.springboot.mybatis.entity.UmsMemberTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="growth" jdbcType="INTEGER" property="growth" />
    <result column="intergration" jdbcType="INTEGER" property="intergration" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
</mapper>